.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    min-height: 100vh;
}

.image {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

.message {
    color: #f7faff;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding: 2rem;
    border-radius: 1.5rem;
    max-width: 400px;
}


